@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color: #D7CCC8;
$font-family: 'Roboto', sans-serif;

.user-login-container {
  width: 800px;
  padding: 25px 150px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  font-family: $font-family;
  background: $background-color;
}

@mixin btn($fontColor: #FAFAFA) {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  background: #FF5722;
  color: $fontColor;
  text-transform: uppercase;
}
@mixin message($fontColor: #90A4AE) {
  color: $fontColor;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
@mixin input($backgroundColor: #F5F5F5) {
  font-family: $font-family;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  background: $backgroundColor;
}
.container {
  padding: 8% 0 0;
  width: 365px;
  margin: auto;
}
.form {
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 45px;
  background: #FFFFFF;
}
.form {
  input {
    @include input;

    ::placeholder {
      color: #90A4AE;
    }
  }
  .btn {
    @include btn;
  }
  .message {
    @include message;

    a {
      text-decoration: none;
      color: #00BFA5;
    }
  }
}